@font-face {
  font-family: 'Righteous';
  src: local('Righteous'), url(./fonts/Righteous-Regular.ttf) format('opentype');
}
:root{
  --clr1: #1A1A2E;
  --clr2: #16213E;
  --clr3: #0F3460;
  --clr4: #8b1428;
  --font-color: #6a9bd6;

}
body{
  background-color: var(--clr1);
  color: var(--font-color);
  margin: 0px;
}
body *::-webkit-scrollbar {
  width: 5px;
}
body *::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--font-color);
  
}

.App{
  
  margin: 0;
  width: 350px;
  background-color: var(--clr1);

}
button{
  outline: none;
  background: none;
  border: none;
}
.banner{
  text-align: center;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1.5px rgb(50, 55, 64)

}
.banner-image{
  padding: 5px;
}
.banner-name{
  font-family:Righteous;
  font-size: 24px;
  padding: 5px 0px;
}
.folder-card{
  margin: 5px 0px;
  padding: 5px 5px;
  background-color: var(--clr2);
}
a{
  border-color: aliceblue;
  text-decoration: none;
  outline: none;
  color: black;
}
